/* Custom theme with Arial font */
.reveal {
  font-family: Arial, sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.reveal p,
.reveal li,
.reveal div {
  font-family: Arial, sans-serif;
}

/* Custom color scheme */
.reveal .callout-important {
  border-left-color: #00923f;
}

.reveal .callout-warning {
  border-left-color: #ad0000;
}

.reveal .callout-tip {
  border-left-color: #4758ab;
}

.reveal .callout-note {
  border-left-color: #cba135;
}
